Repository muhandojeon/The-Art-Of-Unit-Testing, pull requests merged in 2025-03, with the labels that each got.

#24 [함인규] 챕터 3: 의존성 분리와 스텁
  3장/함인규.md
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/함인규/stub-time/00-parameters/password-verifier-time00.test.ts
  playground/src/함인규/stub-time/00-parameters/password-verifier-time00.ts
  playground/src/함인규/stub-time/001-modular/password-verifier-time00-modular.test.ts
  playground/src/함인규/stub-time/001-modular/password-verifier-time00-modular.ts
  playground/src/함인규/stub-time/001-modular/password-verifier-time02-modular.test.ts
  playground/src/함인규/stub-time/001-modular/password-verifier-time02-modular.ts
  playground/src/함인규/stub-time/001-modular/port-adapter.test.ts
  playground/src/함인규/stub-time/001-modular/port-adapter.ts
  playground/src/함인규/stub-time/01-higher-order/password-verifier-time01.test.ts
  playground/src/함인규/stub-time/01-higher-order/password-verifier-time01.ts
  playground/src/함인규/stub-time/02-inject-object/password-verifier-time01.test.ts
  playground/src/함인규/stub-time/02-inject-object/password-verifier-time01.ts
  playground/src/함인규/stub-time/02-inject-object/password-verifier-time02.test.ts
  playground/src/함인규/stub-time/02-inject-object/password-verifier-time02.ts
  playground/src/함인규/stub-time/03-ts-inject-interface/password-verifier-time03.test.ts
  playground/src/함인규/stub-time/03-ts-inject-interface/password-verifier-time03.ts
  playground/src/함인규/stub-time/03-ts-inject-interface/real-time-provider.ts
  playground/src/함인규/stub-time/03-ts-inject-interface/time-provider-interface.ts
Labels: 3장

#27 [이상조] 3장: 의존성 분리와 스텁
  3장/이상조.md
Labels: 3장

#32 [백지연] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/백지연.md
Labels: 4장

#33 [이상조] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/이상조.md
  playground/src/이상조/utils/4장.test.ts
  playground/src/이상조/utils/4장.ts
Labels: 4장

#29 [오혜성] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/오혜성.md
Labels: 4장

#34 [서준환] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/서준환.md
Labels: 4장

#26 [박승훈] 3장: 의존성 분리와 스텁
  3장/박승훈.md
Labels: 3장

#40 [오혜성] 5장: 격리 프레임워크
  5장/오혜성.md
Labels: 5장

#20 [박상범] 3장: 의존성 분리와 스텁
  3장/박상범.md
Labels: 3장

#30 [박상범] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/박상범.md
Labels: 4장

#42 [서준환] 5장: 격리 프레임워크
  5장/서준환.md
Labels: 5장

#22 [신승준] 3장: 의존성 분리와 스텁
  3장/신승준.md
Labels: 3장

#39 [신승준] 5장: 격리 프레임워크
  5장/신승준.md
Labels: 5장

#47 [백지연] 6장: 비동기 코드 단위 테스트
  6장/백지연.md
Labels: 6장

#28 [박승훈] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/박승훈.md
Labels: 4장

#31 [박상범] 5장: 격리 프레임워크
  5장/박상범.md
Labels: 5장

#46 [박상범] 6장: 비동기 코드 단위 테스트
  6장/박상범.md
Labels: 6장

#54 [백지연] 7장: 신뢰할 수 있는 테스트
  7장/백지연.md
Labels: 7장

#48 [오혜성] 7장: 신뢰할 수 있는 테스트
  7장/오혜성.md
Labels: 7장

#45 [오혜성] 6장: 비동기 코드 단위 테스트
  6장/오혜성.md
Labels: 6장

#62 [서준환] 7장: 신뢰할 수 있는 테스트
  7장/서준환.md
Labels: 7장

#52 [서준환] 6장: 비동기 코드 단위 테스트
  6장/서준환.md
Labels: 6장
