Repository muhandojeon/The-Art-Of-Unit-Testing, pull requests merged in 2025-04, with the labels that each got.

#56 [백지연] 8장: 유지 보수성
  8장/백지연.md
Labels: 8장

#58 [박상범] 7장: 신뢰할 수 있는 테스트
  7장/박상범.md
Labels: 7장

#64 [박상범] 8장: 유지 보수성
  8장/박상범.md
Labels: 8장

#55 [오혜성] 8장: 유지 보수성
  8장/오혜성.md
Labels: 8장

#66 [권오연] 8장: 유지보수성
  8장/권오연.md
Labels: 8장

#61 [권오연] 7장: 신뢰할 수 있는 테스트
  7장/권오연.md
Labels: 7장

#51 [권오연] 6장: 비동기 코드 단위 테스트
  6장/권오연.md
Labels: 6장

#35 [권오연]4장: 모의 객체를 사용한 상호 작용 테스트
  4장/권오연.md
Labels: 4장

#53 [신승준] 6장: 비동기 코드 단위 테스트
  6장/신승준.md
Labels: 6장

#41 [박승훈] 5장: 격리 프레임워크
  5장/박승훈.md
Labels: 5장

#50 [박승훈] 6장: 비동기 코드 단위 테스트
  6장/박승훈.md
Labels: 6장

#57 [박승훈] 7장: 신뢰할 수 있는 테스트
  .vscode/settings.json
  7장/박승훈.md
Labels: 7장

#63 [박승훈] 8장: 유지 보수성
  8장/박승훈.md
Labels: 8장

#43 [이상조] 5장: 격리 프레임워크
  5장/이상조.md
Labels: 5장

#60 [이상조] 7장: 신뢰할 수 있는 테스트
  7장/이상조.md
Labels: 7장

#77 [이상조] 8장: 유지 보수성
  8장/이상조.md
Labels: 8장

#36 [함인규] 4장: 모의 객체를 사용한 상호 작용 테스트
  4장/함인규.md
  playground/src/함인규/ch4-mocks/00-function-param-injection/complicated-logger.ts
  playground/src/함인규/ch4-mocks/00-function-param-injection/password-verifier00.ts
  playground/src/함인규/ch4-mocks/00-function-param-injection/password-verifier01.test.ts
  playground/src/함인규/ch4-mocks/00-function-param-injection/password-verifier01.ts
Labels: 4장

#44 [함인규] 5장: 격리 프레임워크
  5장/함인규.md
Labels: 5장

#49 [함인규] 6장: 비동기 코드 단위 테스트
  6장/함인규.md
Labels: 6장

#59 [함인규] 7장: 신뢰할 수 있는 테스트
  7장/함인규.md
Labels: 7장

#65 [함인규] 8장: 유지 보수성
  8장/함인규.md
Labels: 8장

#75 [서준환] 9장: 가독성
  9장/서준환.md
Labels: 9장

#72 [오혜성] 9장: 가독성
  9장/오혜성.md
Labels: 9장

#76 [신승준] 9장: 가독성
  9장/신승준.md
Labels: 9장

#68 [박상범] 9장: 가독성
  9장/상범.md
Labels: 9장

#80 [백지연] 10장: 더 나은 테스트 전략 수립
  10장/백지연.md
Labels: 10장

#84 [서준환] 10장: 더 나은 테스트 전략 수립
  10장/서준환.md
Labels: 10장

#69 [박상범] 10장: 더 나은 테스트 전략 수립
  10장/상범.md
Labels: 10장

#82 [신승준] 10장: 더 나은 테스트 전략 수립
  10장/신승준.md
Labels: 10장

#78 [이상조] 9장: 가독성
  9장/이상조.md
Labels: 9장

#83 [이상조] 10장: 더 나은 테스트 전략 수립
  10장/이상조.md
Labels: 10장

#81 [박승훈] 10장: 더 나은 테스트 전략 수립
  10장/박승훈.md
Labels: 10장

#90 [백지연] 11장: 조직 내 단위 테스트 도입
  11장/백지연.md
Labels: 11장

#93 [신승준] 11장: 조직 내 단위 테스트 도입
  11장/신승준.md
Labels: 11장

#92 [서준환] 11장: 조직 내 단위 테스트 도입
  11장/서준환.md
Labels: 11장

#86 [오혜성] 11장: 조직 내 단위 테스트 도입
  11장/오혜성.md
Labels: 11장

#96 [신승준] 12장: 레거시 코드 다루기
  12장/신승준.md
Labels: 12장
